.header{
    height: 500px;
    width: 100%;
    background-color: rgb(108, 176, 185);
    margin:auto;
    overflow: hidden;
}
.menu{
    display: flex;
    width: 210px;
    height: 500px;
    float: left;
    margin-right: 150px;
}
.menu1{
    background-color: rgb(228, 196, 115);
}
.title1{
    display: flex;
    width: 1100px;
    height: 500px;
    float: left;
}
.title{
    width: 50px;
    height: 300px;
    display: flex;
    font-size: 3em;
    color: rgb(219, 22, 22);
    float: left;
    margin-right: 20px;
}
.login1{
    height: 500px;
    width: 438px;
    float: left;
}
.home{
    width: 14px;
    height: 40px;
    display: flex;
    font-size: 1em;
    color: #db1616;
    float: left;
    margin-right: 110px;
}
.user{
    width: 14px;
    height: 80px;
    display: flex;
    font-size: 1em;
    color: rgb(219, 22, 22);
    float: left;
    margin-right: 110px;
}
.massage{
    width: 14px;
    height: 80px;
    display: flex;
    font-size: 1em;
    color: rgb(219, 22, 22);
    float: left;
    margin-right: 110px;
}
.contact{
    width: 14px;
    height: 80px;
    display: flex;
    font-size: 1em;
    color: rgb(219, 22, 22);
    float: left;
}

.register{
    height: 50px;
    width: 90px;
    display: flex;
    font-size: 3em;
    color: rgb(219, 22, 22);
    position: absolute;
    top: 350px;
    right: 150px;
}


.login{
    height: 50px;
    width: 90px;
    display: flex;
    font-size: 3em;
    color: rgb(219, 22, 22);
    position: absolute;
    top: 200px;
    right: 150px;
}