.header{
    height: 500px;
    width: 100%;
    background-color: rgb(108, 176, 185);
    margin:auto;
    overflow: hidden;
}
.menu{
    display: flex;
    width: 10%;
    height: 500px;
    float: left;
    margin-right: 7%;
}
.menu1{
    background-color: rgb(228, 196, 115);
}
.title1{
    display: flex;
    width: 57%;
    height: 500px;
    float: left;
}
.title{
    width: 5%;
    height: 300px;
    display: flex;
    font-size: 3em;
    color: rgb(219, 22, 22);
    float: left;
    margin-right: 20px;
}
.img{
    width: 56%;
}
.login1{
    height: 500px;
    width: 25%;
    float: left;
}
.home{
    width: 20%;
    display: flex;
    font-size: 1em;
    color: #db1616;
    float: left;
    margin-right: 2%;
}
.user{
    width: 20%;
    display: flex;
    font-size: 1em;
    color: rgb(219, 22, 22);
    float: left;
    margin-right: 5%;
}
.massage{
    width: 20%;
    display: flex;
    font-size: 1em;
    color: rgb(219, 22, 22);
    float: left;
    margin-right: 8%;
}
.contact{
    width: 20%;
    display: flex;
    font-size: 1em;
    color: rgb(219, 22, 22);
    float: left;
}

.register{
    height: 50px;
    width: 5%;
    display: flex;
    font-size: 3em;
    color: rgb(219, 22, 22);
    position: absolute;
    top: 30%;
    right: 10%;
}


.login{
    height: 50px;
    width: 5%;
    display: flex;
    font-size: 3em;
    color: rgb(219, 22, 22);
    position: absolute;
    top: 15%;
    right: 10%;
}