.bady{
    height: 1100px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.people{
    text-align:center;
    font-size: 2em;
    color: brown;
}
.user{
    text-align:center;
    font-size: 2em;
    color: brown;
}
.buy{
    text-align:center;
    font-size: 2em;
    color: brown;
}